.home-chart1 {
  .apexcharts-tooltip {
    background: rgba(7, 12, 35, 0.5) !important;
    backdrop-filter: blur(3.5px);
    border-radius: 8px;
    width: 115px !important;
    height: 72px !important;
    justify-content: center;
    border: none !important;
    .apexcharts-tooltip-title {
      color: white !important;
      background: rgba(7, 12, 35, 0.5) !important;
      backdrop-filter: blur(3.5px);
    }
    ul {
      font-family: "Acme";
      margin-bottom: 0;
      padding: 10px;
      li {
        &:nth-child(1) {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 12px;
          color: #ffffff;
          opacity: 0.6;
        }
        &:nth-child(2) {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 18px;
          font-weight: 600;
          color: $white;
        }
        &:last-child {
          font-size: 12px;
          color: #ffffff;
          opacity: 0.6;
        }
      }
    }
  }
}
.chart2 {
  @include media-sm {
    padding-right: 0;
    transform: scale(0.8);
  }
  .home-chart2 {
    transform: scale(0.7);
    width: 100px;
  }
}
.rounded-charts {
  margin-top: -50px;
  justify-content: space-around;
  @include media-sm {
    margin-top: 0px;
    gap: 8px;
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }
  & > .d-flex {
    width: 100%;
    justify-content: center;
    @include media-sm {
      width: 180px;
    }
  }
}

.chart3 {
  .home-chart3 {
    transform: scale(0.7);
    width: 100px;
  }
  @include media-sm {
    padding-right: 0;
    transform: scale(0.8);
  }
}

#wallet-chart {
  .arrow_box_wallet {
    background: #da1b25;
    border-radius: 8px;
    padding: 10px;
    width: 115px !important;
    height: 72px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
    z-index: 2;
    span {
      &:nth-child(1) {
        font-size: 12px;
      }
      &:nth-child(2) {
        position: relative;
        font-size: 18px;
        font-weight: 600;
        z-index: 1;
        &:before {
          content: "";
          position: absolute;
          top: -40px;
          left: -50px;
          width: 40px;
          height: 50px;
          border-radius: 10px;
          rotate: 45deg;
          background: linear-gradient(180deg, #7e151a33 0%, #7e151a 100%);
          z-index: -1;
        }
        &:after {
          content: "";
          position: absolute;
          bottom: -40px;
          right: -50px;
          width: 50px;
          height: 50px;
          border-radius: 10px;
          rotate: 45deg;
          background: linear-gradient(180deg, #7e151a33 0%, #7e151a 100%);
          z-index: -1;
        }
      }
    }
  }
  .apexcharts-xaxistooltip {
    background: #da1b25;
    border-radius: 8px;
    color: $white;
    border: 0 !important;
    &::after {
      border-bottom-color: #da1b25;
    }
  }
  .apexcharts-tooltip.apexcharts-theme-light {
    border: 0 !important;
    background: none !important;
    box-shadow: none !important;
  }
}

#business-chart {
  .apexcharts-tooltip {
    border: 0 !important;
    background: #d81923 !important;
    box-shadow: none !important;
    color: $white !important;
    padding: 6px 15px !important;
    border-radius: 15px !important;
  }
}

.apexcharts-xaxis-label {
  @include media-sm {
    font-size: 11px !important;
  }
}

.apexcharts-yaxis-label {
  @include media-sm {
    font-size: 11px !important;
  }
}
