.wallet-page {
  .col_3 {
    .rounded-circle {
      width: 67px;
      height: 65px;
      svg {
        @include media-lg {
          scale: 1.1;
        }
      }
    }

    .card {
      .card-body {
        a {
          transition: 0.3s;
          span {
            transition: 0.3s;
            &:first-child {
              &:hover {
                svg {
                  transform: rotate(180deg);
                }
              }
            }
            svg {
              transition: 0.3s;
            }
          }
          &:first-child {
            span {
              &:first-child {
                &:hover {
                  background: rgba(0, 204, 255, 0.199) !important;
                }
              }
            }
          }
          &:nth-child(2) {
            span {
              &:first-child {
                &:hover {
                  background: rgba(255, 17, 0, 0.199) !important;
                }
              }
            }
          }
          &:nth-child(3) {
            span {
              &:first-child {
                &:hover {
                  background: rgba(51, 255, 0, 0.158) !important;
                }
              }
            }
          }
        }
      }
    }
  }
  .colores {
    @include media-sm {
      padding-left: 35px;
    }
    .income-radio {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 8px;
        left: -20px;
        width: 10px;
        height: 10px;
        background: #6219cf;
        border-radius: 50%;
      }
    }
    .spend-radio {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 8px;
        left: -20px;
        width: 10px;
        height: 10px;
        background: #d81923;
        border-radius: 50%;
      }
    }
  }
}

.withdraw-cont {
  width: 350px;
}

.withdraw-step {
  display: none;
  &.active {
    display: block;
  }
}